@{
    ViewBag.Title = "Subir Foto";
}

<h2>Subir Foto</h2>

@using (Html.BeginForm("GuardarFoto", "SubirFotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="foto">Selecciona una foto:</label>
        <input type="file" name="foto" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Subir Foto</button>
}

@if (ViewBag.Mensaje != null)
{
    <p>@ViewBag.Mensaje</p>
}
