 @model AcceptPhone.Models.RegisterViewModel

<!DOCTYPE html>
<html>
<head>
    <style>

        /* Estilos generales del cuerpo y la página */
        body, html {
            margin: 0;
            padding: 0;
        }

        body {
            background: linear-gradient(135deg, #FFD700, #FF4500); /* Establece un fondo con degradado */
            font-family: 'Arial', sans-serif; /* Define la fuente de texto */
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
            background: rgba(322, 255, 249, 0.6); /* Fondo en negro con una opacidad del 90% */
            color: #000;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 100px;
        }



        /* Estilos para los grupos de formularios */
        .form-group {
            margin: 10px 0; /* Agrega espacio entre los grupos de formularios */
            text-align: left; /* Alinea el texto a la izquierda */
        }

            /* Estilos para las etiquetas de formulario */
            .form-group label {
                display: block; /* Muestra las etiquetas en un bloque separado */
                font-size: 18px; /* Establece el tamaño de fuente */
                color: #000; /* Cambia el color de las etiquetas a negro */
            }

            /* Estilos para los campos de entrada de formulario */
            .form-group input {
                width: 100%; /* Los campos de entrada ocupan el ancho completo */
                padding: 10px; /* Agrega relleno interno */
                border: 2px solid #FF4500; /* Cambia el borde de los campos de entrada a naranja oscuro */
                border-radius: 5px; /* Agrega bordes redondeados a los campos de entrada */
                font-size: 16px; /* Establece el tamaño de fuente */
                background-color: #FFD700; /* Cambia el fondo de los campos de entrada a amarillo claro */
                color: #000; /* Cambia el color del texto a negro */
            }

        /* Estilos para los botones */
        .btn {
            display: inline-block; /* Hace que los botones sean elementos en línea */
            background-color: #FF4500; /* Cambia el color de fondo de los botones a naranja oscuro */
            border: none; /* Quita el borde de los botones */
            color: #fff; /* Establece el color del texto en los botones a blanco */
            font-size: 24px; /* Establece el tamaño de fuente en los botones */
            padding: 10px 20px; /* Agrega relleno interno en los botones */
            border-radius: 5px; /* Agrega bordes redondeados a los botones */
            text-decoration: none; /* Quita la decoración de texto subrayado en los botones */
            transition: background-color 0.3s; /* Agrega una transición al color de fondo de los botones al pasar el cursor */
            cursor: pointer; /* Cambia el cursor al pasar por encima de los botones */
        }

            /* Estilos para los botones al pasar el cursor */
            .btn:hover {
                background-color: #FF6347; /* Cambia el color de fondo de los botones a un tono más oscuro al pasar el cursor */
            }
    </style>
</head>
<!-- Contenido de la página de bienvenida -->
<img src="~/Images/AcceptPhone_Logo.jpg" alt="Logo de AcceptPhone" style="display: block; margin: 0 auto; max-width: 200px; height: auto;">
<h1>Bienvenido, ya estás registrado en nuestra página.</h1>
<p>Ahora puedes disfrutar de nuestra sección de dispositivos que tenemos para ti.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ir al inicio</a>

